.categories_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.categories_title {
  text-transform: uppercase;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.16px;
  text-transform: uppercase;
}

.categories_title_icon {
  margin-left: 20px;
  font-size: 20px;
}

.category_title {
  font-size: 18px;
  font-weight: 700;
}

.category_label {
  font-size: 16px;
  letter-spacing: 0.46px;
}

.category_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category_label_row {
  display: flex;
  align-items: center;
}
.category_label_container {
  margin-left: 2px;
}
