@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #814ee7;
  --secondary-color: #a9b5da;
}
body {
  font-family: "Nunito Sans", sans-serif;
  color: rgba(64, 73, 101, 1);
  background-color: #eef3fa;
}

.root {
  display: flex;
}

.card {
  min-width: 980px;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(99, 99, 99, 0.2);
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
}

.card_title {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0px;
  margin-bottom: 2rem;
}

.table {
  display: flex;
  flex-direction: column;
}

.table_header {
  display: flex;
  color: #576694;
  font-weight: 800;
  letter-spacing: 0.51px;
  line-height: 24px;
  justify-items: center;
  align-items: center;
  text-transform: uppercase;
  padding-bottom: 6px;
  border-bottom: 2px solid rgba(169, 181, 218, 0.3);
}

.table_row {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(169, 181, 218, 0.3);
  align-items: center;
  color: rgba(124, 141, 193, 1);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.46px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50% 50%;
  margin-left: 15px;
}

.preview {
  width: 35px;
  height: 35px;
  border-radius: 4px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.justify-self-center {
  justify-self: center;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}

input[type="checkbox"] {
  margin-right: 1rem;
  border-radius: 2px;
  width: 1rem;
  height: 1rem;
  border: 2px solid rgba(169, 181, 218, 1);
  background-color: rgba(255, 255, 255, 1);
  accent-color: var(--primary-color);
}

.file_name {
  margin-left: 1rem;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reset_button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.action_button {
  color: rgba(124, 141, 193, 1);
  padding: 0.5rem;
  border-radius: 4px;
}
.action_button:hover {
  background-color: whitesmoke;
}
.action {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.name {
  display: flex;
  align-items: center;
}

.main_header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  border: 1px solid rgba(220, 224, 227, 1);
  background-color: rgba(255, 255, 255, 1);
}

.main_header_title {
  font-size: 32px;
}

.mr-2 {
  margin-right: 10px;
}
.mr-0 {
  margin-right: 0;
}
.flex {
  display: flex;
  justify-content: space-around;
}

.main_header_button {
  font-size: 1rem;
  padding: 0 1.6rem;
  font-weight: 800;
  align-items: center;
  border-radius: 4px;
  background-color: #814ee7;
  color: white;
}

.main_body {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.mian_container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
.sidebar {
  min-width: 200px;
  background-color: white;
  padding: 0 1rem;
}

.sidebar_brand {
  display: flex;
  justify-content: space-evenly;
  padding: 1.1rem 0;
  border-bottom: 1.6px solid rgba(220, 224, 227, 1);
}
.sidebar_brand_text {
  font-size: 28px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.85);
}

.sidebar_brand img {
  margin: 0;
}
.sidebar_nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #f0f3fc;
  margin: 1rem 0;
  padding: 1rem;
  font-weight: 600;
  border-radius: 4px;
}

.sidebar_nav_img {
  width: 20px;
  height: 20px;
}

.search {
  width: fit-content;
  margin-bottom: 1rem;
  align-self: flex-end;
  background-color: #fafafa;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  color: #7c8dc1;
  letter-spacing: 0.4px;
}
.search_input::placeholder {
  letter-spacing: 0.4px;
  color: #7c8dc1;
}

.search_input {
  background-color: #fafafa;
  outline: none;
  border: none;
}

.modal {
  position: fixed;
  top: 0px;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.modal_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.modal_body {
  padding: 1rem;
}
.modal_header {
  padding: 1rem;
  background-color: #0001;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.updateFile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 480px;
}
.updateFile > section {
  display: flex;
  align-items: center;
}

.updateFile > section > label {
  flex: 1;
}
.updateFile > section > input {
  flex: 6;
  padding: 0.5rem 1rem;
  border: 1px solid var(--secondary-color);
  outline-color: var(--secondary-color);
  border-radius: 4px;
}

.updateFile > section.buttongrp {
  justify-content: end;
  display: flex;
  gap: 8px;
}

.updateFile > section > button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.updateFile > section > button.submit,
.updateFile > section > button.cancel:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.updateFile > section > button.cancel {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
